body{
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    margin:0 ;
}
p{
    font-size: 30px;
}
.pink-color{
     color: deeppink;
}
img {
    width: 400px;
}
section{
    display: flex;

}
.link-button{
    border-radius: 10;
    background-image:linear-gradient(d);
}
.top-banner{
    background-image: url(/cornner.jpg);
    background-repeat: no-repeat;
}
h1{
font-size: 60px;

}
                                                          